#This is the first heading 
##This is heading no 2
###This is heading no 3
####This is heading no 4
#####this is heading no 5
#######this is heading no 6 
# the previous one was the last heading
1. heading 
2. heading 2
2. heading 3
1. heading 4
+ unordered heading  
+ another item of unordered list
*item again
-increases the probabaility6.
1. another heading



...trying indentation bt not working

In [ ]:
%time
print('Table of squares')
for i in range(10):
  print(f'{i} times {i} = {i*i}')

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs
Table of squares
0 times 0 = 0
1 times 1 = 1
2 times 2 = 4
3 times 3 = 9
4 times 4 = 16
5 times 5 = 25
6 times 6 = 36
7 times 7 = 49
8 times 8 = 64
9 times 9 = 81